//[DXQL](../../../index.md)/[ru.council.dxql.models.validation](../index.md)/[ValidationResult](index.md)/[ValidationResult](-validation-result.md)

# ValidationResult

[jvm]\
constructor(fmt: [String](https://docs.oracle.com/javase/8/docs/api/java/lang/String.html), params: [Array](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-array/index.html)&lt;[String](https://docs.oracle.com/javase/8/docs/api/java/lang/String.html)&gt;)
